@import '../../styles/shared.scss';

.btn {
  cursor: pointer;
  width: 260px;
  height: 44px;
  margin-bottom: 18px;
  background: $accent-color;
  border: none;
  border-radius: 25px;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $text-dark-theme-color;
  transition: all 0.25s linear;
  box-shadow: $dark-theme-box-shadow;
}
