@import '../../styles/shared.scss';

.registerForm {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 61px 0 59px;
  text-align: center;
  margin: 0 auto;
  width: 570px;

  background: #fafafa;
  border-radius: 5px;
  box-shadow: $light-theme-box-shadow;
}

@media screen and (max-width: 767px) {
  .registerForm {
    // top: 60px;
    padding: 47px 20px 166px;
    width: 320px;
    height: 508px;
    margin: 0 auto;
  }
}

// @media screen and (max-width: 1170px) {
//   .registerForm {
//     top: 30%;
//   }
// }
