@media screen and (max-width: 767px) {
  .chartContainer {
    width: 830px;
    height: auto;
    margin: auto;
    padding-top: 5px;
  }
}

@media screen and (min-width: 768px) {
  .chartContainer {
    width: 600px;
    height: auto;
    margin: auto;
    padding-top: 5px;
  }
}

@media screen and (min-width: 1170px) {
  .chartContainer {
    width: 900px;
    height: auto;
    margin: auto;
    padding-top: 5px;
  }
}
