@import '../styles/shared.scss';

.ShowSprintsWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  height: 37px;
  border-bottom: 1px solid $border-main-color;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;
}

.arrowBtn{
width: 30px;
height: 1px;
background: transparent;
margin-bottom: 19px;
margin-top:18px;
box-sizing: border-box;
}
.arrowIcon{
  height: 10px;
 fill: $icon-light-theme-bcg-color;
}

.ShowSprintsTitle{
position: absolute;
width: 229px;


font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

letter-spacing: 0.04em;

color: $icon-without-bgc-color;

}

.sprint_name{
  width: 260px;
  margin:0;
font-style: normal;
  font-weight: 500;
  font-size: 26px;
line-height: 32px;
  letter-spacing: 0.04em;
  color: $text-main-color;
display: flex;
align-items: center;
margin-bottom: 30px;
}
.searchSprint,
.SprintRowInput,
.SprintNameInput{

background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(24, 28, 39, 0.1);
  color: rgba(24, 28, 39, 0.6);
  font-size: 16px;
  letter-spacing: 0.04em;
  outline: 0;
  padding: 5px 20px;
  margin-bottom:8px;

font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.04em;
color: $sprint-cart-text-color;

  transition: all 0.3s;

  &:focus {
    border-bottom: 1px solid #ff6b08;
    & + .labelText {
      color: #ff6b08;
      font-size: 13px;
      transform: translateY(-44px);
    }
  }
  &:valid:not(:focus) + .labelText {
    color: rgba(24, 28, 39, 0.6);
    font-size: 13px;
    transform: translateY(-44px);
  }
}
.SprintRowInput{
width: 60px;
}

.table_header{
display: none;
}

.SprintCard {
  position: relative;
  background: $text-dark-theme-color;
  box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
  border-radius: 5px;
  list-style: none;
  padding-bottom:10px;
}

.SprintCardList {
  list-style: none;
  padding: 0;
}

.SprintTitle {
font-style: normal;
justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
 
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
 
 color: $text-main-color;
}

.SprintItem {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  
  align-items: center;
  letter-spacing: 0.04em;

  color: $sprint-cart-text-color;

  &:last-child {
    padding-bottom: 40px;
  }
}
.sprintTitle{
  align-items:center;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.04em;
margin-bottom: 20px;
align-items: center;
 color: $text-main-color;
}
.table_row_input{
  width: 60px;
}
.deleteSprintBtn,
.searchBtn,
.projectBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.deleteSprintIcon,
.projectIcon,
.searchIcon {
  width: 20px;
  height: 20px;
  fill: $icon-light-theme-bcg-color;
}





