@import '../../styles/shared.scss';

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;

  color: $icon-without-bgc-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.closeIcon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal {
  position: absolute;

  background-color: $text-dark-theme-color;
  @media (min-width: 320px) {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    padding: 63px 20px 0px 20px;
    width: 320px;
    height: 100%;
    background-color: $components-bcg-color;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0px;
    right: 0px;
    left: auto;
    padding-top: 63px;
    transform: none;
    transform: translate(0, 0);
    width: 320px;
    height: 100%;
    padding: 63px 20px 0px 20px;
    width: 512px;
    padding: 121px 50px 0px 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 530px;
    padding: 121px 50px 0px 51px;
  }
}

.heading {
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0.04em;
  line-height: 1.23;
  align-items: center;
  text-align: center;

  color: $text-main-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.22;
  }
}

.labelRadio {
  display: block;

  letter-spacing: 0.04em;
}

// .labelText {
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.25;
//   cursor: text;
//   user-select: none;

//   color: $text-light-theme-color;

//   transform: translateY(-24px);
//   transition: color $transition-duration $timing-function;
// }

.sprintName {
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.04em;
  margin-bottom: 53px;

  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid $input-field-border-color;

  transition: all $transition-duration $timing-function;

  &:focus {
    border-bottom: 1px solid $accent-color;

    & + .labelText {
      color: $accent-color;
      font-size: 13px;
      transform: translateY(-44px);
    }
  }

  &:valid:not(:focus) + .labelText {
    color: $text-light-theme-color;
    font-size: 13px;
    transform: translateY(-44px);
  }
}

.sprintDuration {
  padding: 0.5px;
  margin-left: 0px;
  margin-top: 58px;

  width: 100%;
  font-size: 16px;
  letter-spacing: 0.04em;

  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid $input-field-border-color;

  transition: all $transition-duration $timing-function;

  &:focus {
    border-bottom: 1px solid $accent-color;

    & + .labelText {
      color: $accent-color;
      font-size: 13px;
      transform: translateY(-44px);
    }
  }

  &:valid:not(:focus) + .labelText {
    color: $text-light-theme-color;
    font-size: 13px;
    transform: translateY(-44px);
  }

  @media screen and (min-width: 768px) {
    margin-left: 30px;
    margin-top: 0px;
  }
}

.circleIcon {
  width: 16px;
  height: 16px;
  fill: $accent-color;
}

.labelRadio {
  color: $text-light-theme-color;
  margin-bottom: 42px;
  display: flex;
  align-items: center;
}

.round {
  display: flex;
  align-items: center;
  padding-left: 8px;
  margin-right: 10px;
  width: 34px;
  height: 34px;

  border-radius: 50%;
  border: 1px solid $icon-circle-border-color;
}

//календарь
.calendar {
  width: 100%;
}

//общий див, дата и календарь
.dataAndDay {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.line {
  border-bottom: 1px solid $input-field-border-color;
}

// Кнопки
.cancelBtn {
  width: 148px;
  border: none;
  outline: none;
  text-decoration: underline;

  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: $text-light-theme-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function;

  &:hover {
    color: $accent-color;
  }
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

///data
.endDate {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21px;
  letter-spacing: 0.04em;

  color: $text-light-theme-color;
  margin-bottom: 20px;
}
.smallButtons {
  margin-left: -15px;
  display: inline-block;
  margin-top: -20px;
}
.buttonInputData {
  display: flex;
}
.containerInput1,
.containerInput2 {
  position: relative;
}
.helper {
  position: absolute;
  color: $error-text-color;
  font-size: 12px;
  top: 25px;
}
.helper2 {
  position: absolute;
  color: $error-text-color;
  font-size: 12px;
  @media screen and (min-width: 768px) {
    top: 22px;
    left: 30px;
  }
}
