@import '../../styles/shared.scss';

.projectLink {
  display: block;
  height: 136px; // -
  padding: 10px;

  color: inherit;
}

.projectName {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 6px;

  font-weight: 800;
  font-size: 16px;
  line-height: 1.25; // line-height/font-size
  word-wrap: break-word;
}

.projectDescription {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;

  transition: opacity $timing-function $transition-duration;

  .projectLink:hover &,
  .projectLink:focus & {
    opacity: 1;
  }
}

.deleteProjectBtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;

  color: $icon-dark-theme-bcg-color;
  background-color: transparent;
  transition: background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    box-shadow: $dark-theme-box-shadow;
  }
}

.deleteProjectIcon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

@media screen and(min-width: 768px) {
  .projectLink {
    height: 216px;
    padding: 20px;
  }

  .projectName {
    margin-bottom: 10px;

    font-size: 26px;
    line-height: 1.23;
  }

  .projectDescription {
    font-size: 14px;
    line-height: 1.21;
  }

  .deleteProjectIcon {
    width: 34px;
    height: 34px;
  }
}

@media screen and(min-width: 1280px) {
  .projectLink {
    height: 270px;
    padding: 30px;
  }

  .projectName {
    margin-bottom: 20px;
  }
}
