@import '../../styles/shared.scss';

.container {
  position: relative;
}

.sprintNameContainer {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  min-height: 80px;
}

.currentSprintPages {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  width: 15px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.sprintPages,
.sprintDate {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: $text-light-theme-color;
}

.sprintPages {
  margin-right: 20px;
}

.sprintDate {
  display: inline-block;
  width: 70px;
  margin-left: 30px;
  margin-right: 30px;
}

.arrowLeftBtn {
  margin-right: 20px;
}

.arrowRightBtn,
.arrowLeftBtn {
  background: transparent;
  width: 15px;
  height: 15px;
  transition: all $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.arrowLeftIcon,
.arrowRightIcon {
  position: absolute;
  width: 15px;
  height: 15px;

  fill: currentColor;
  background: transparent;
}

.formContainer {
  display: block;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.pagesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.containerPages {
  width: 110px;
}

.searchSprint {
  width: 100%;
  margin-bottom: 8px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(24, 28, 39, 0.1);
  color: rgba(24, 28, 39, 0.6);
  font-size: 16px;
  letter-spacing: 0.04em;
  outline: 0;
  padding: 5px 30px 5px 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  letter-spacing: 0.04em;
  color: $sprint-cart-text-color;

  transition: all $transition-duration $timing-function;

  &:focus {
    border-bottom: 1px solid $accent-color;
  }

  &:valid:not(:focus) + .labelText {
    color: rgba(24, 28, 39, 0.6);
    font-size: 13px;
  }
}

.searchForm {
  position: relative;
}

.searchBtn {
  top: 5px;
  left: 0px;
  position: absolute;

  border: none;
  background: transparent;
}

.searchIcon:before {
  position: absolute;
  background: transparent;
  width: 20px;
  height: 20px;
  fill: $icon-light-theme-color;
}

.searchSprint:focus + .searchBtn .searchIcon {
  fill: $accent-color;
}

.searchIcon {
  width: 20px;
  height: 20px;
  fill: $icon-light-theme-bcg-color;

  transition: all $transition-duration $timing-function;
}

.analyticsBtn,
.addButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 0px;
  padding: 0px;
  width: 44px;
  height: 44px;
  bottom: 20px;

  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;

  color: $icon-dark-theme-color;
  background-color: $accent-color;
  transition: color $transition-duration $timing-function,
    background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $icon-dark-theme-bcg-color;
    box-shadow: $light-bcg-box-shadow;
  }
}

.addIcon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.analyticsIcon {
  width: 22px;
  height: 22px;
  fill: currentColor;
}

.addButton {
  position: fixed;
  right: 10%;
  transform: translateX(-10%);
}

.analyticsBtn {
  position: fixed;
  left: 10%;
  transform: translateX(-10%);
}

@media screen and (min-width: 320px) {
  .sprintNameContainer {
    min-height: 94px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .sprintNameContainer {
    min-height: 130px;
  }

  .pagesContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 0px;
  }

  .sprintsSideContainer {
    padding: 20px;
  }

  .formContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .searchForm {
    margin-left: 15px;
  }

  .searchBtn {
    transform: translateX(180px);
  }

  .searchSprint {
    width: 214px;
    padding: 5px 30px 5px 0px;
  }

  .createTaskTitle {
    display: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.04em;

    color: $text-main-color;
  }

  .createTaskBtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sprintsWrapper {
    display: flex;
  }

  .addButton {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .analyticsBtn {
    right: 10%;
    left: auto;
    position: fixed;
    bottom: 64px;

    transform: translateX(-10%);
  }
}

@media screen and (min-width: 1280px) {
  .sprintsSideContainer {
    padding: 19px 20px 20px 70px;
  }

  .createTaskTitle {
    display: inline-block;
    margin-left: 20px;
  }

  .analyticsBtn {
    right: 10%;
    left: auto;
    position: fixed;
    bottom: 64px;

    transform: translateX(-10%);
  }
}

.sprintsSideContainer {
  width: 100%;
}
