@import '../../styles/shared.scss';
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 0px;
  padding: 0px;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;

  color: $icon-dark-theme-color;
  background-color: $accent-color;
  transition: color $transition-duration $timing-function,
    background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $icon-dark-theme-bcg-color;
    box-shadow: $light-bcg-box-shadow;
  }
}

.icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
