@import '../../styles/shared.scss';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 0px;
  padding: 0px;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: $accent-color;
}

.icon {
  width: 18px;
  height: 18px;
  fill: $icon-dark-theme-color;
}
