@import '../../styles/shared.scss';

.current {
  font-weight: 400;
  color: $text-main-color;
}
.selected {
  font-weight: 700;
}

.square {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  // background-color: #8c72df;
}

.squareName {
  display: flex;
  align-items: center;
  p {
    margin-left: 15px;
    // font-weight: 400;
    font-size: 14px;
    line-height: 1.22;
    width: 110px;
  }
}

.scroll {
  overflow-y: scroll;
  // height: 294px;
  height: 300px;
}

.asideList {
  padding-right: 30px;
  max-width: 216px;
  @media screen and (min-width: 1280px) {
    max-width: 200px;
  }
}
.asideList li {
  word-wrap: break-word;
}

// .asideList {
//   min-height: 300px;
// }

.asideListContainer {
  .scroll::-webkit-scrollbar {
    overflow: hidden;
  }
}
.asideListContainer:hover {
  .scroll::-webkit-scrollbar {
    width: 7px;
  }

  .scroll::-webkit-scrollbar-track {
    // box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    border-radius: 10px;
  }

  .scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(
      45deg,
      $accent-color,
      rgb(255, 250, 250) 49%,
      $accent-color
    );
    background: $accent-color;
  }
}

.scroll li:not(:last-child) {
  margin-bottom: 30px;
}

.asideListContainer {
  display: none;
}

@media screen and (min-width: 768px) {
  .asideListContainer {
    display: block;
  }
}
