@import '../../styles/shared.scss';

.pageContainer {
  // position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.containerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;

  h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.23;
    letter-spacing: 0.04em;

    color: $text-main-color;
  }
}

.containerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin-left: 20px;
    margin-right: 30px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    color: $text-main-color;
  }
}

.buttonName {
  display: none;
}

.warningMessage {
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: $text-light-theme-color;
}

@media (min-width: 480px) {
  // .containerButton {
  //   position: absolute;
  //   right: 0px;
  //   bottom: 20px;
  // }

  .pageContainer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .containerTitle {
    margin-bottom: 36px;

    h1 {
      font-size: 26px;
    }
  }

  .warningMessage {
    text-align: center;

    font-weight: 700;
    font-size: 20px;
    color: $text-light-theme-color;
  }
}
@media screen and (min-width: 768px) {
  // .containerButton {
  //   position: static;
  // }

  .pageContainer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .containerTitle {
    margin-bottom: 30px;

    h1 {
      margin-left: 5px;

      font-size: 36px;
      line-height: 1.22;
    }
  }

  .warningMessage {
    font-size: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .buttonName {
    display: block;
  }
}
