// text
$text-main-color: #181C27; // основний текст чорним шрифтом
$text-light-theme-color: rgba(24, 28, 39, 0.6); // #181C27 прозорість 60% (світло-сірий текст)
$text-dark-theme-color: #FFFFFF; // білий текст на темному фоні
$sprint-cart-text-color: #000000; // текст на карточках спринтів
$error-text-color: #FF2C0C; // червоний текст для error-message при введенні неправильного паролю у формах реєстрації та логіну

// border
$border-main-color: rgba(24, 28, 39, 0.1); // #181C27 прозорість 10% (border для хедера, лівої панелі зі списком проектів)
$input-field-border-color: rgba(24, 28, 39, 0.2); // #181C27 прозорість 20% (border для полів форм реєстрації та логіну)
$error-border-color: #FF2C0C; // border для input, коли ввели неправильного пароль

// background
$page-bcg-color: #F1F2F7; // основний фон сторінки
$components-bcg-color: #FAFAFA; // білий фон карточок, форм реєстрації та логіну, контенту модального вікна
$calendar-bcg-color: rgba(250, 250, 250, 0.7); // FFFFFF прозорість 70% (напівпрозорий фон календаря у вікні створення спринта)
$project-card-bcg-color1: #8C72DF; // фіолетовий колір для картки проекту
$project-card-bcg-color2: #FF765F; // рожевий колір для картки проекту
$project-card-bcg-color3: #71DF87; // зелений колір для картки проекту
$backdrop-color: rgba(24, 28, 39, 0.25); // #181C27 прозорість 25% (бекдроп для модалки)

// icons
$icon-dark-theme-color: #FFFFFF; // іконки з білим малюнком всередині (на оранжевому фоні)
$icon-light-theme-color: #A6A6A6; // сірі іконки без фону
$icon-close-window-color: #181C27; // іконка закривання модалок створення проекту та створення задачі (хрестик)

// icons background
$icon-light-theme-bcg-color: #A6A6A6; // для іконок з сірим фоном
$icon-dark-theme-bcg-color: #FFFFFF; // фон для іконок корзини на карточках проектів

$accent-color: #FF6B08; // оранжевий акцент

