@import '../../styles/shared.scss';

.title {
  margin-bottom: 53px;
  font-size: 36px;
  @media screen and (max-width: 767px) {
    font-size: 26px;
  }
}

.inputReg {
  width: 429px;
  border: 0;
  margin: 0;
  margin-bottom: 40px;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  &::before {
    left: 0;
    right: 0;
    bottom: 0;
    content: '\00a0';
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    pointer-events: none;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.input {
  cursor: text;
  position: relative;
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  align-items: center;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
  background-color: transparent;
}

.label {
  top: 0;
  left: 0;
  font-size: 18px;
  position: absolute;
  .input:focus + & {
    transform: translate(-50%, -230%) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}
