@import '../../styles/shared.scss';

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoLink {
  display: block;
}

.logo {
  height: 30px;
  width: 100px;
}

@media (min-width: 768px) {
  .logo {
    height: 42px;
    width: 140px;
  }
}
