@import '../../styles/shared.scss';

.sprintLink {
  display: block;
  padding: 20px 20px 36px 20px;
  color: inherit;
}

.sprintName {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  word-wrap: break-word;

  color: $text-main-color;
}

.sprintDetailsList {
  list-style: none;
  padding: 0;
}

.sprintDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  color: $cart-text-color;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .sprintName {
    margin-bottom: 28px;
    min-height: 65px;
    font-size: 18px;
    line-height: 1.22;
  }

  .sprintDetails {
    font-size: 14px;
    line-height: 1.21;

    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .sprintLink {
    padding: 20px 30px 36px 30px;
  }

  .sprintDetails:not(:last-child) {
    margin-bottom: 20px;
  }
}

.deleteSprintBtn {
  position: absolute;
  right: 10px;
  bottom: 10px;

  border-radius: 50%;
  color: $icon-light-theme-bcg-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function,
    background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $icon-dark-theme-bcg-color;
    box-shadow: $light-bcg-box-shadow;
  }
}

.deleteSprintIcon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
