@import '../../styles/shared.scss';

.section {
  max-width: 1170px;
  height: 768px;
  margin: 0 auto;
  background-image: url('./../../images/desktop/union-orange-desktop.png'),
    url('../../images/desktop/small-ellipse-desktop.png'),
    url('../../images/desktop/small-white-ellipse-desktop.png'),
    url('../../images/desktop/union-white-desktop.png'),
    url('../../images/desktop/white-ellipse-desktop.png'),
    url('../../images/desktop/exstra-small-ellipse-desktop.png'),
    url('../../images/desktop/half-ellipse-desktop.png');
  background-size: 542px, 78px, 48px, 603px, 118px, 26px, 298px;
  background-repeat: no-repeat;
  background-position: top 233px right 0px, top 103px left 877px,
    top 230px left 240px, top 199px right 0px, top 367px left 111px,
    top 129px left 1055px, bottom 0px left 145px;
  background-color: $page-bcg-color;
}

.divForImg {
  height: 100%;
  position: relative;
  pointer-events: none;
}

.img {
  position: absolute;
  width: 252px;
  height: 252px;
  left: 183px;
  pointer-events: none;
  bottom: 0;
  opacity: 0.9;
  z-index: 1;
}
