@import '../../styles/shared.scss';
@import '../ModalProjects/ModalProjects.module.scss';
.form {
  z-index: 100000000;
}

.input2 {
  width: 100%;
  height: 30px;
  margin-bottom: 40px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $input-field-border-color;
  &::placeholder {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    color: $text-light-theme-color;
  }

  &.invalid {
    border-bottom: 1px solid red;
  }
  &.valid {
    border-bottom: 1px solid $input-field-border-color;
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid $accent-color;
  }
}

@media screen and (min-width: 768px) {
  .input2 {
    width: 220px;
  }
}
.helperText {
  position: absolute;
  color: #ff001b;
  font-size: 12px;
  top: 32px;
}
.button1 {
  align-items: center;
  width: 148px;
  margin-bottom: 30px;
  padding: 11px 44px;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: $accent-color;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  box-shadow: $dark-theme-box-shadow;
  color: $text-dark-theme-color;
  cursor: pointer;
}
// .button1:hover {
//   box-shadow: none;
//   background-color: $text-main-color;
// }

.button2 {
  width: 154px;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  color: $text-light-theme-color;
  cursor: pointer;
}
.button2:hover {
  color: $accent-color;
}
