@import '../../styles/shared.scss';

// Іконка додати людей
.addPeopleBtn {
  color: $icon-without-bgc-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.addPeopleIcon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

// Кнопка з діаграмою
.analyticsBtn {
  width: 44px;
  height: 44px;

  border-radius: 50%;

  color: $icon-dark-theme-color;
  background-color: $accent-color;
  transition: color $transition-duration $timing-function,
    background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $icon-dark-theme-bcg-color;
    box-shadow: $dark-theme-box-shadow;
  }
}

.analyticsIcon {
  width: 22px;
  height: 22px;
  fill: currentColor;
}

// Кнопка у вигляді стрілочки (показати проекти)
.arrowBtn {
  color: $icon-without-bgc-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.arrowIcon {
  width: 30px;
  height: 10px;
  fill: currentColor;
}

// Кнопка у вигляді кружечка (Попередні дні на формі створення спринта)
.circleBtn {
  width: 34px;
  height: 34px;

  background-color: transparent;
  border: 1px solid $icon-circle-border-color;
  border-radius: 50%;
}

.circleIcon {
  width: 16px;
  height: 16px;
  fill: $accent-color;
}

// Кнопка закрити вікно створення спринта/задачі/додавання людей
.closeBtn {
  color: $icon-without-bgc-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.closeIcon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

// Кнопка видалити проект (корзинка)
.deleteProjectBtn {
  border-radius: 50%;

  color: $icon-dark-theme-bcg-color;
  background-color: transparent;
  transition: background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    box-shadow: $dark-theme-box-shadow;
  }
}

.deleteProjectIcon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

@media screen and(min-width: 768px) {
  .deleteProjectIcon {
    width: 34px;
    height: 34px;
  }
}

// Кнопки видалити спринт (корзинка), змінити назву проекту/спринта, підтвердити зміну назви проекту/спринта
.deleteSprintBtn,
.projectBtn {
  border-radius: 50%;

  color: $icon-light-theme-bcg-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function,
    background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $icon-dark-theme-bcg-color;
    box-shadow: $dark-theme-box-shadow;
  }
}

.deleteSprintIcon,
.projectIcon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

// Кнопка підтвердити зміну назви проекту/спринта
.doneBtn {
  border-radius: 50%;

  color: $icon-dark-theme-color;
  background-color: $icon-light-theme-bcg-color;
  transition: color $transition-duration $timing-function,
    background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    box-shadow: $dark-theme-box-shadow;
  }
}

.doneIcon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

// Маленькі стрілки вліво та вправо
.arrowLeftBtn,
.arrowRightBtn {
  color: $icon-without-bgc-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.arrowLeftIcon,
.arrowRightIcon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

// Показати/сховати календар (стрілки вверх та вниз)
.arrowUpBtn,
.arrowDownBtn {
  color: $icon-light-theme-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.arrowUpIcon,
.arrowDownIcon {
  width: 12px;
  height: 10px;
  fill: currentColor;
}

// Кнопка logout
.logoutBtn {
  transition: color $transition-duration $timing-function,
    background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function;
}

.logoutIcon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

@media screen and(max-width: 767px) {
  .logoutBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    color: $page-bcg-color;
    background-color: $icon-light-theme-bcg-color;

    &:hover,
    &:focus {
      color: $icon-dark-theme-color;
      background-color: $accent-color;
      box-shadow: $dark-theme-box-shadow;
    }
  }
}

@media screen and(min-width: 768px) {
  .logoutBtn {
    color: $icon-without-bgc-color;
    background-color: transparent;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

// Кнопка пошуку завдання (лупа)
.searchBtn {
  color: $icon-light-theme-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.searchIcon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
