@import '../../styles/shared.scss';
.container {
  display: block;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  min-height: 80px;
}

.projectDescription {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  word-wrap: break-word;

  color: $text-main-color;
}

.addPeopleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.addPeopleBtn {
  color: $icon-without-bgc-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.addPeopleIcon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.addPeopleTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.createSprintTitle {
  display: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;

  color: $text-main-color;
}

.headerProject {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
}

.warningMessage {
  text-align: center;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  color: $warning-text-color;
}

@media screen and (min-width: 480px) {
  .titleContainer {
    min-height: 94px;
    justify-content: flex-start;
  }

  .projectDescription {
    margin-bottom: 30px;
    font-size: 14px;
  }

  .addPeopleContainer {
    margin-bottom: 30px;
  }

  .warningMessage {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .createSprintBtn {
    position: fixed;
    right: 10%;
    bottom: 20px;
    z-index: 1000;
    transform: translateX(-10%);
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
  }

  .headerProject {
    width: 100%;
    padding: 40px 0px 40px 40px;
  }

  .createSprintBtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titleContainer {
    min-height: 130px;
  }

  .projectDescription {
    font-size: 18px;
  }

  .warningMessage {
    font-size: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .headerProject {
    width: 100%;
    padding: 40px 30px 30px 70px;
  }

  .createSprintTitle {
    display: inline-block;
    margin-left: 20px;
  }
}
