@import '../../styles/shared.scss';
.container {
  display: block;
}

// Кнопки видалити спринт (корзинка), змінити назву проекту/спринта, підтвердити зміну назви проекту/спринта
.deleteSprintBtn,
.projectBtn {
  border-radius: 50%;

  color: $icon-light-theme-bcg-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function,
    background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $icon-dark-theme-color;
    box-shadow: $dark-theme-box-shadow;
  }
}

.deleteSprintIcon,
.projectIcon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

// Кнопка підтвердити зміну назви проекту/спринта
.doneBtn {
  border-radius: 50%;

  color: $icon-dark-theme-color;
  background-color: $icon-light-theme-bcg-color;
  transition: color $transition-duration $timing-function,
    background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    box-shadow: $dark-theme-box-shadow;
  }
}

.doneIcon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

// Іконка додати людей
.addPeopleBtn {
  background-color: transparent;
}

.addPeopleIcon {
  width: 20px;
  height: 20px;
  fill: $icon-without-bgc-color;
}

.titleContainer {
  display: flex;
  width: 300px;
  height: 100px;
  align-items: center;
}
.createSprint {
  display: flex;
  align-items: center;
}
.titleButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.createTitle {
  display: none;
  margin-right: 20px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
}
.addPeopleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.addPeopleTitle {
  margin-left: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.headerProject {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
}

@media (min-width: 320px) {
  .title {
    margin-right: 20px;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    max-width: 180px;
    word-wrap: break-word;
    width: 250px;
  }

  .inputTitle {
    font-size: 18px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    width: 210px;
  }
  .descriptionProject {
    // max-width: 280px;
    width: 100%;
    height: 52px;
    font-size: 14px;
    word-wrap: break-word;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
  }

  .headerProject {
    width: 100%;
    padding: 40px 40px 40px 20px;
  }
  .title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    max-width: 290px;
    word-wrap: break-word;
    width: 250px;
  }

  .inputTitle {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    width: 250px;
  }
  .descriptionProject {
    width: 452px;
    height: 44px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .headerProject {
    width: 100%;
    padding: 40px 15px 44px 30px;
  }
  .createTitle {
    display: block;
  }

  .inputTitle {
    width: 250px;
  }
  .descriptionProject {
    width: 400px;
    height: 66px;
  }
  .title {
    max-width: 600px;
    word-wrap: break-word;
  }
}

.inputTitle {
  cursor: text;
  border: none;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  background-color: transparent;
  margin-right: 5px;
}

.inputTitle:focus {
  outline: 3px solid orange;
  outline-offset: -3px;
}

.formChangeName {
  margin: 0;
  padding: 0;
}

.warningMessage {
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: $text-light-theme-color;
}
