@import '../../styles/shared.scss';

.form {
  position: absolute;
  top: 0px;
  right: 0px;

  padding: 121px 51px 225px 50px;
  margin: 0px;
  width: 530px;
  height: 100%;

  border-radius: 4px;
  background-color: $components-bcg-color;
}

.input {
  width: 429px;
  height: 55px;
  margin-bottom: 50px;

  border: none;
  background-color: transparent;
  border-bottom: 1px solid $input-field-border-color;
}

.input2 {
  width: 429px;
  height: 80px;
  margin-bottom: 60px;

  border: none;
  background-color: transparent;
  border-bottom: 1px solid $input-field-border-color;
}

.title {
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button1 {
  align-items: center;
  width: 148px;
  margin-bottom: 20px;
  padding: 11px 44px;

  border: none;
  outline: none;
  border-radius: 25px;
  background-color: $accent-color;

  box-shadow: $dark-theme-box-shadow;
}

.button2 {
  width: 154px;
  border: none;
  outline: none;
  background-color: transparent;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: transparent;
}

.closeIcon {
  width: 18px;
  height: 18px;
  fill: $icon-without-bgc-color;
}
