@import '../../styles/shared.scss';

.form {
  position: absolute;
  height: 100%;
  background-color: $components-bcg-color;
}

.title {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
}

.input {
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 50px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $input-field-border-color;

  &::placeholder {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    color: $text-light-theme-color;
  }

  &.invalid {
    border-bottom: 1px solid $error-border-color;
  }

  &.valid {
    border-bottom: 1px solid $input-field-border-color;
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid $accent-color;
  }
}

.textarea {
  position: relative;
  width: 100%;
  height: 80px;
  margin-bottom: 60px;
  resize: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $input-field-border-color;

  &::placeholder {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    color: $text-light-theme-color;
  }

  &.invalid {
    border-bottom: 1px solid $error-border-color;
  }

  &.valid {
    border-bottom: 1px solid $input-field-border-color;
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid $accent-color;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancelBtn {
  width: 148px;
  border: none;
  outline: none;
  text-decoration: underline;

  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: $text-light-theme-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function;

  &:hover {
    color: $accent-color;
  }
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;

  color: $icon-without-bgc-color;
  background-color: transparent;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.closeIcon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

@media (min-width: 320px) {
  .form {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    padding: 63px 20px 0px 20px;
    width: 320px;
    height: 100%;
    background-color: $components-bcg-color;
  }
}

@media screen and (min-width: 768px) {
  .form {
    position: absolute;
    top: 0px;
    right: 0px;
    left: auto;
    transform: none;
    transform: translate(0, 0);

    padding: 121px 51px 0px 32px;
    width: 512px;
    height: 100%;
    background-color: $components-bcg-color;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 121px 51px 0px 50px;
    margin: 0px;
    width: 530px;
    height: 100%;
    border-radius: 4px;
    background-color: $components-bcg-color;
  }
}

.containerInput1,
.containerInput2 {
  position: relative;
}

.helper {
  position: absolute;
  color: $error-text-color;
  font-size: 12px;
  top: 32px;
}

.helper2 {
  position: absolute;
  top: 82px;
  color: $error-text-color;
  font-size: 12px;
}
