@import '../../styles/shared.scss';

.wrapper {
  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid $border-main-color;
}

@media (min-width: 768px) {
  .wrapper {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}
